/* page title styles */
#page_title{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.page_title_text{
    font-size: 2.4rem;
    color:var(--green-1);
}
@media only screen and (min-width:768px){
    #page_title{
        padding-top: 5rem;
        padding-bottom: 3rem;
    }
    .page_title_text{
        font-size: 3.4rem;
    }
}
/* end of page title styles */
/* ourspecials styles */
#ourspecials{
    padding: 0;
}
.ourspecials_title{
    font-size: 1.8rem;
    color:var(--green-1);
    margin-bottom: 2rem;
}
.ourspecials_wrapper{
    display: flex;
    flex-direction: column;
    gap:2rem;
    max-width: 400px;
}
.ourspecials_item{
    flex:1;
    display: flex;
    gap:2rem;
    background-color: var(--lightgreen-1);
    padding: 1.4rem;
    border-radius: 1.2rem;
}
.ourspecials_item_img,
.ourspecials_item_info{
    flex:1;
}
.ourspecials_item_img{
    border-radius: 1.2rem;
    overflow: hidden;
}
.ourspecials_item_img img{
    object-fit: cover;
}
.ourspecials_item_title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    line-height: 1.2em;
    color:var(--green-1);
}
.ourspecials_item_price{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--green-1);
    margin-bottom: 1.2rem;
}
.ourspecials_item_stars{
    max-width: max-content;
}
@media only screen and (min-width:768px){
    .ourspecials_title{
        font-size: 2.3rem;
    }
    .ourspecials_wrapper{
        flex-direction: row;
        max-width: none;
        gap:2rem;
    }
    .ourspecials_item{
        padding: 1.2rem;
        gap:2rem;
    }
    .ourspecials_item_title{
        font-size: 2.3rem;
        margin-bottom: 1.2rem;
    }
    .ourspecials_item_price{
        font-size: 1.9rem;
        margin-bottom: 1.2rem;
    }

}
@media only screen and (min-width:1000px){
    .ourspecials_item_img{
        flex:3;
    }
    .ourspecials_item_info{
        flex:4;
    }
}
/* end of ourspecials style */
/* Top dishes,breakfast,lunch,dinner styles */
.dishGrid{
    padding-bottom: 0;
}
.dishGrid:last-of-type{
    padding-bottom:5rem;
}